.movie {
  background-color: rgba(34, 31, 31);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.442), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  border-radius: 5px;
  max-height: 600px;
}
.movie_img {
  position: relative;
  top: -20px;
  max-width: 180px;
  border-radius: 5px;
  border: 5px solid beige;
}
.movie_img:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.movie_title {
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
}
.movie_genres {
  font-size: 16px;
  color: beige;
  padding-left: 20px;
  font-weight: lighter;
}
.box {
  border: 1px solid red;
}
.movie_summary {
  border: 1px solid red;
}
